<form class="auth">
	<fieldset>
		<input type="text" name="username" placeholder="Логин" />
		<input type="password" name="password" placeholder="Пароль" />
	</fieldset>
	<button type="submit">Войти</button>
</form>