@import url(assets/normalize.css);
@import url(assets/_swype.css);
@import url(assets/user-profile.css);
@import url(assets/icons.css);
@import url(assets/forms.css);
@import url(assets/tiles.css);
@import url(assets/sheet.css);
@import url(assets/article.css);
@import url(assets/comments.css);


@font-face {
	font-family: 'DinComp';
	src: url('./fonts/pfdintextcomppro-medium-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DinCond';
	src: url('./fonts/pfdintextcondpro-medium.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DinCond';
	src: url('./fonts/pfdintextcondpro-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cambria';
	src: url('./fonts/cambria.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cambria';
	src: url('./fonts/cambriab.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cambria';
	src: url('./fonts/cambriai.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Cambria';
	src: url('./fonts/cambriaz.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

html {
	background: #ebebeb;
	width: 320px;
	overflow: hidden;
}

body {
	width: 320px;
	height: 460px;
	box-sizing: border-box;
	/* background: red; */
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	-webkit-user-select: none;
	user-select: none;

	-webkit-perspective: 500;
	perspective: 500;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

h1 {
	font-family: 'DinCond', sans-serif;
	margin-top: 0;
	line-height: 0.95;
	margin-bottom: 0.2em;
	padding-top: 10px;
	font-size: 1.7em;
}

h2 {
	font-family: 'DinCond', sans-serif;
	font-weight: normal;
	color: #a0a0a0;
	margin-top: 0;
	font-size: 1em;
}

iframe {
	max-width: 100%;
}

.page-header {
	padding: 10px;
	height: 52px;
}

.page-header__title {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin: 0;
	padding: 0;
	line-height: 1;
}

.page-header__caption {
	margin: 0;
	font-family: georgia, serif;
	color: #aaa;
	font-size: 11px;
	font-style: italic;
}

/* .tiles-reel .tiles {
	visibility: visible;
} */

.avatar {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAsVBMVEUAAAAAAAAfHx9LS0udnZ2bm5uVlZV8fHyfn5+fn5+VlZWbm5uGhoaKioqMjIxvb2+Pj4+ampqSkpKJiYkQEBBXV1dpaWmBgYGYmJiYmJicnJyYmJgJCQmgoKCDg4OJiYmYmJhpaWl6enorKyudnZ2enp6ampqTk5OWlpYmJiaTk5Ofn594eHiZmZl/f3+enp6ZmZljY2OampqampqNjY2Ojo6GhoacnJycnJxtbW2goKA2H6u8AAAAOnRSTlMaMx8t38mbVfLsnsZrdnhFhtuRcB0ybV20scyrNfxjpNZAUyLZ5MSToz/B/VC8W+e2Or7BfoBo1NdC89OnSgAAAR5JREFUeF7d07WSxDAQANGxzLzMzEzH8/8fdlUXrNfS1EhOr/MXNlhKo850Vkesz6adkaUEFkgla3y2TkBKAaKHpXpCA/oo1efBJyolHGg5KnBaDDgh0YkBNQrUGOBRwGNAgwINBjQp0GTAggILBrQp0GYABCoIgAHvSPTBAJcCLgMGFBgwYEiBIQP8sQrGPgNgEsognPADZTLIgAdzGcw1AKSFHNCBtAxSLYDHK3gDPbDDAoS2AYCoABGYgG0BtkZgV4CdEfgqwLcJ+MGXcj0QpSdcoQP2GUudbR5crih1vTDAvyHRzafBMlshHa7SpQLuXoBMgXcvge4GtW26T5DHaFSc/wERoXGRsGAfY4XiPRywUgc4VgNHwIr9B/ALZKAC+smw6EoAAAAASUVORK5CYII=);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

.avatar img {
	width: 100%;
	height: 100%;
}

.comment-form {
	padding-top: 10px;
}

.comment-form textarea {
	font-size: 12px;
	height: 140px;
}

.comment-form__title {
	font-size: 1.5em;
	font-weight: bold;
	color: #000;
	margin-bottom: 10px;
	
}

.post-comment-btn {
	font-size: 1em;
	padding-top: 6px;
	padding-bottom: 6px;
}

.preloader-target {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-bottom: -2px;
	/* background: red; */
}