.article__image-holder {
	margin: 0 -12px;
	position: relative;
}

.article__image-holder:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	border: 1px solid rgba(0,0,0,0.1);
}

.article__image-holder img {
	display: block;
}

.article img {
	max-width: 100%;
	height: auto;
}

.article blockquote {
	font-style: italic;
	color: #777;
	margin-left: 20px;
	margin-right: 20px;
}

.article .icon_comment_add {
	float: right;
	margin-top: 12px;
}