.comments__list {
	margin: 0 -12px;
}

.comments__list > .comment {
	border-width: 0 0 1px 0;
	background: #f4f5e8;
}

.comments__list > .comment:first-child {
	border-top-width: 1px;
}

.comments__list > .comment:nth-child(even) {
	background: #fff;
}

.comment {
	padding: 10px 12px;
	border: 1px solid #e5e5e5;
}

.comment .comment {
	margin-top: 10px;
}

.comment__h {
	margin-left: 32px;
	position: relative;
	font-family: 'DinCond', sans-serif;
	margin-bottom: 0.3em;
	line-height: 1.3;
	padding-top: 4px;
}

.comment__avatar {
	position: absolute;
	top: 0;
	left: -32px;
}

.comment__author {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0;
	display: inline-block;
	padding-right: 10px;
}

.comment__date {
	display: inline-block;
	margin: 0;
	font-size: 0.8em;
	color: #b4b4b4;
}