/* 
 * Прокручиваемый лист с заголовком. 
 * Используется для отображения списка новостей
 * и комментариев
 */
.sheet {
	position: absolute;
	/* z-index: 2; */
	width: 100%;
	height: 100%;
	top: 0;
	/* left: 0; */
	background: #f7f7f7;
}

.sheet__h {
	padding: 0 12px;
	height: 43px;
	line-height: 43px;
	background: rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 16px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	font-family: 'DinCond', sans-serif;

	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.sheet__h-title {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	color: #000;
}

.sheet__h-back {
	position: absolute;
	left: 11px;
	font-weight: bold;
}

.sheet__h-back:before {
	content: '';
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAqCAYAAADMKGkhAAABBklEQVR42tXZPQrCMByGcaGrNxAKnkTo5BmcnATBqbcRnARB8EgFV89QKMSXSnhLB4v0wz5/eDJkCL8hS8hi4FmqTK3UaBNCGPS8VBUqqFJlBHiqnjXaXWcON7pVPj28P/qhkhHhMLThMLThMLThPLTh/dF3oyeDw9CGw9CGw9CGw9CG/4y+Gf1XOAxtOAxtOAxteCf6pY7qMIP2H6fhy/hyAVSqTYRvVQB1ifC1KkHwU/OO71SlQqtCnWdUrpII/4av6v2ZjeEkvOEwvOEwvOEwvOEwvOEwvOEwvOEwvOEwvOEwvOEwvOEwvOEwvOHj4AF/QMYz/oC68TkBHidrvlRGhWtB9gZmgHEGD/C0YAAAAABJRU5ErkJggg==) no-repeat;
	width: 23px;
	height: 21px;
	display: inline-block;
	position: relative;
	top: 5px;
	margin-right: 10px;

	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

.sheet__scroller {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background: #fff;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.sheet__content {
	font-size: 14px;
	padding: 43px 12px 12px;
	line-height: 1.5;
	font-family: 'Cambria', georgia, serif;
}

.sheet__h-opt {
	position: absolute;
	top: -1px;
	right: 12px;
}

.sheet_no-scroll .sheet__scroller {
	overflow: hidden;
	-webkit-overflow-scrolling: none;
}

.sheet_no-scroll .sheet__content {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	overflow: hidden;
}

.sheet_auth .sheet__content {
	background: #ebebeb;
	padding: 63px 40px 0;
}

.sheet_comment-form .sheet__content {
	background: #f3f5e9;
}