.tiles-reel {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: hidden;
	top: 0;
	left: 0;

	/* -webkit-transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out; */
}


.tiles {
	position: absolute;
	overflow: hidden;
	padding-left: 12px;
	width: 100%;
	height: 100%;
	background: #ebebeb;
	/* visibility: hidden; */

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tiles__header {
	height: 48px;
}

.tiles__footer {
	height: 40px;
}

.tiles__item {
	position: relative;
	width: 145px;
	height: 120px;
	float: left;
	background: #2384c8;
	margin: 0 6px 6px 0;
	overflow: hidden;
}

.tiles__item:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	z-index: 1;
	display: block;
	border: 1px solid rgba(0,0,0,0.1);
	/* -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.7);
	-moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.7);
	box-shadow: inset 0 0 1px rgba(0,0,0,0.7); */
}

.tiles__title,
.tiles__subtitle {
	font-family: 'DinCond', sans-serif;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	margin: 0;
	padding: 5px 10px;
	font-size: 16px;
	position: relative;
	z-index: 2;
	line-height: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tiles__subtitle {
	font-weight: normal;
}

.tiles__image {
	position: absolute;
	left: 50%;
	top: 50%;
}

.tiles__badge {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 3;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b1010e), to(#9b010b));
	background-image: -webkit-linear-gradient(#b1010e, #9b010b);
	background-image: -moz-linear-gradient(#b1010e, #9b010b);
	background-image: -o-linear-gradient(#b1010e, #9b010b);
	background-image: linear-gradient(#b1010e, #9b010b);
	color: #fff;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 10px;

	-webkit-box-shadow: 0 -1px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 -1px 5px rgba(0,0,0,0.4);
	box-shadow: 0 -1px 5px rgba(0,0,0,0.4);
}

/* Первая страница новостей */
.tiles_main {
	padding: 0;
	top: -48px;
	overflow: visible;
	/* display: none; */
}

.tiles_main .tiles__header,
.tiles_main .tiles__footer {
	display: none;
}

.tiles_main .tiles__item {
	margin: 0 6px 0 0;
	width: 157px;
}


.tiles_main .tiles__title {
	padding: 12px;
}

.tiles_main .tiles__item:nth-of-type(1) {
	float: none;
	width: 100%;
	height: 336px;
	margin-right: 0;
	margin-bottom: 6px;
}

.tiles_main .tiles__item:nth-of-type(1) .tiles__title {
	/* font-size: 25px; */
	position: absolute;
	left: 0;
	right: 60px;
	bottom: 10px;
	font-weight: normal;
}

.tiles_main .tiles__item:nth-of-type(1) .tiles__title:before {
	display: block;
	content: 'Последнее';
	font-size: 33px;
	margin-bottom: 0.2em;
}

.tiles_main .tiles__item:nth-of-type(3) {
	margin-right: 0;
}

.tiles_calc {
	left: -100%;
	visibility: hidden;
}

.tiles .icon_comment {
	position: absolute;
	right: 6px;
	bottom: 0;
	z-index: 2;
}

.tiles_main .icon_comment {
	right: 12px;
	bottom: 6px;
}